#timeline {
  width: 100%;
  height: 300px;
  position: relative;
  overflow-x: scroll;
}

.event {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.event.active {
  background-color: green;
}
